<div class="container">
  <div class="row">
    <div class="col me-2 color" *ngFor="let x of colors; let i = index">
      <div class="dropdown">
        <button [style.background-color]="x"
                [style.color]="x"
                [disabled]="!interactive || x.length !== 0"
                class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                data-bs-toggle="dropdown">
          Choose a color
        </button>
        <ul class="dropdown-menu">
          <li>
            <div *ngFor="let color of availableColors"
                 (click)="select(i, color)"
                 class="dropdown-item">
              {{color}}
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="col">
      <button *ngIf="interactive" [disabled]="!ready" (click)="submit()" class="btn btn-primary">Submit attempt</button>
      <div *ngIf="!interactive">
        <p>Correct color: {{selectedColors?.correctColor}}</p>
        <p>Correct color and position: {{selectedColors?.correct}}</p>
      </div>
    </div>
  </div>
</div>
