<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div class="navbar-brand">Mastermind</div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a (click)="reset()" class="nav-link active" href="#">Start new game</a>
        </li>
      </ul>

      <div class="d-flex">
        <button class="btn btn-primary me-2" data-bs-toggle="modal" data-bs-target="#exampleModal">Show logs</button>
        <input class="me-2" type="text" placeholder="game id" [(ngModel)]="gameId">
        <button (click)="resumeGame()" class="btn btn-outline-success" type="submit">Resume existing game</button>
      </div>
    </div>
  </div>
</nav>

